<!DOCTYPE html>
<html len='en'>
    <head>
        <title> Template is working        </title>
    </head>
    
    <body>
<h1> welcome to the text analyzer, enter your text </h1>
<form method ='get' action="/analyze">
    <textarea name='text' style='width: 1368px; height: 210px;''> </textarea>
<br>
<input type="checkbox" name="removepunc"> Remove Punctuation <br>
<input type="checkbox" name="fullcaps"> Full Capitalize <br>
<input type="checkbox" name="newlineremover"> New Line Remover <br>
<input type="checkbox" name="extraspaceremover">Space Remover <br>
<input type="checkbox" name="charcount">Character Counter <br>
    <button type="submit"> Analyze text</button>
</form>
</body>
</html>